
.main-header {
	background-color: #8e24aa; /* violet */
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: 2px;
}
